@font-face {
  font-family: Univers;
  src: url(fonts/U001-Reg.ttf);
}

* {
  /*Disable user selection*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*Default cursor*/
  cursor: default;

  font-family: Univers, Arial, sans-serif;
  font-weight: normal;
  font-kerning: none;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  background-color: #0f062d;
  /*background-color: #080316;*/
  /*border: 1px dashed red;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

p + p {
  margin-top: 1em;
}

ul {
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 1em;
}

ol {
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 0em;
  font-size: 1.5em;
  line-height: 1.5em;
}

* + li {
  margin-top: 1em;
}

p b {
  font-weight: bolder;
}

#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
}

.header {
  padding: 0 0em 1em 0em;
  border-bottom: 1px solid white;
  /*margin: 1em 1em 0em 1em;*/
  /*padding-bottom: 1em;*/
  /*padding-left: 0.25em;*/
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  padding: 1em 0 1em 0;
}

#text {
  padding: 1.5em 1em 2em 1em;
}

#gallery {
  flex-direction: row;
}

#question-page {
  flex-direction: row;
  height: 100%;
}

#viewer {
  flex: 1 1 auto;
  overflow: hidden;
}

#navbar {
  width: 100%;
  height: auto;
  border-top: 1px solid white;
  padding-top: 1em;
  left:0px;
  bottom:0px;
  z-index: 99;
}

.page {
  height: 100%;
}

.next-button, .prev-button, .submit-button{
  min-width: 3.5em;
  min-height: 3.5em;
  border: 2px solid white;
  font-size: 1.25em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-button:focus {
  border: 3px solid white;
}

.prev-button {
  float: left;
}

.next-button, .submit-button {
  float: right;
}

.submit-button {
  opacity: 0.15;
}

#splash-button {
  display: block;
  margin: auto;
  padding: 1em;
}

#animal-selection {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 1em;
  margin: 0.5em 1.5em 0 0;
  text-align: center;
  float: left;
}

#animal-selection img {
  margin-bottom: 1em;
  width: 200px;
  height: 200px;
}

#animal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  text-align: center;
  height: 100%;
  padding: 0em 1em 1em 1em;
  flex: 1;
  font-size: 16pt;
}

#animal-image img {
  padding: 1em;
  margin-top: 1em;
  bottom: 0px;
  border: 1px solid white;
  height: auto;
  max-width: 100%;
  /*object-fit: contain;*/
}

#questionnaire {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1.5;
  padding: 1em 1em 1em 1em;
  /*width: 100%;
  height: 100%;*/
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24pt;
  text-align: center;
  height: 10em;
}

#response {
  flex: 1;
  width: 100%;
}

textarea {
  flex: 1;
  height: 20em;
  width: 100%;
  resize: none;
  border: 1px solid white;
  padding: 1em;
  font-size: 16pt;
  cursor: text;
}

textarea:focus {
  border: 2px solid white;
}
